<!-- navigation -->
<site-nav></site-nav>

<div class="full-page-container">
	<div class="container wbg">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="admin-summarybar small-radius">
					<p class="light no-margin inline-block">Summary Bar</p>
					<ul class="pull-right list-inline no-margin app-control-list">
						<li><a href="#" data-js-app='usermanagement' title="admin control ">User Management <i class="fa fa-users" aria-hidden="true"></i></a></li>
						<li><a href="#" data-js-app='promotional' title="admin control ">Promotional <i class="fa fa-gift" aria-hidden="true"></i></a></li>
						<li><a href="#" data-js-app='accountant' title="admin control ">Accountants <i class="fa fa-user" aria-hidden="true"></i></a></li>
						<li><a href="#" data-js-app='link' title="admin control ">link 4</a><i class="fa" aria-hidden="true"></i></li>
						<li><a href="#" data-js-app='link' title="admin control ">link 5</a><i class="fa" aria-hidden="true"></i></li>
						<li><a href="#" data-js-app='link' title="admin control ">link 6</a><i class="fa" aria-hidden="true"></i></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="usermanagement hidden" data-js-opr="usermanagement" ng-init='cvm.initialUserManagement()'>
				<hr>
				<a href="#" title="Search for user" data-js='usersearch' class="pull-left btn btn-default m-t-3 m-b-3">Sarch Users</a>
				<div class="clearfix"></div>
				<p class="hero-big-title light text-center" ng-if="cvm.countError === true">{{cvm.countErrorMsg}}</p>
				<p class="hero-big-title light text-center" ng-if="cvm.countError === false" data-js='usercount'>
					<span class="title text-center light">You have</span> <br>
					{{cvm.userCount}} users
				</p>
				<div class="user-search-form hidden" id="searchform">
						<form ng-submit="cvm.searchUser()">
							<input type="text" ng-model='cvm.search.query' placeholder="Search user by name or email... & Enter" 
							class="no-border no-shadow form-control">
						</form>
						<!-- when we don't have any search results to show -->
						<div class="m-t-2 m-b-2" ng-if="cvm.searchError === true">
								<p class="text-center light">{{cvm.searchErrorMsg}}</p>
						</div>
						<!-- when we do have search to show -->
						<div class="show-results m-b-2 m-t-2" ng-if="cvm.searchError === false">
							<p class="medium title text-center">Search Result(s) For - {{cvm.search.query}}</p>
							<ul class="list search-results-list">
								<li ng-repeat="result in cvm.searchResults"><a class='light title' href="/appcontrol/users/{{result._id}}">{{result.email}}</a></li>
							</ul>
						</div>
				</div>
			</div>

			<div class="accountant-management management-box hidden" data-js-opr="accountant" ng-init="cvm.initAccounantManagement()">
				<p class="text-center light hero-big-title" ng-if="cvm.accountantLoadError === true">Error! while loading accountant info</p>
				<p class="text-center light hero-big-title" ng-if="cvm.noAccountant === true">You don't have any accoutants in the system yet. Please add one now - <hr> </p>

				<form ng-submit="cvm.addAccountant()">
					<div class="alert alert-danger" ng-if="cvm.addAccountantError === true">
						<p class="text-center light title">{{cvm.addAccountantErrorMsg}}</p>
					</div>
					<!-- when adding is successful -->
					<div class="alert alert-success" ng-if="cvm.addAccountantError === false">
						<p class="text-center light title">Accountant has been successful added</p>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
						<div class="form-group">
							<label for="name">Name *</label>
							<input type="text" id="name" ng-model="cvm.accountant.profile.name" class="form-control" placeholder="accoutant name">
						</div>
						<div class="form-group">
							<label for="email">Email *</label>
							<input type="text" id="email" ng-model="cvm.accountant.profile.email" class="form-control" placeholder="accoutant's email">
						</div>
						<div class="form-group">
							<label for="mobile">Mobile *</label>
							<input type="text" id="mobile" ng-model="cvm.accountant.profile.mobile" class="form-control" placeholder="accoutant's mobile">
						</div>
						<div class="form-group">
							<label for="company_tel">Company Telephone </label>
							<input type="text" id="company_tel" ng-model="cvm.accountant.company.tel" class="form-control" placeholder="accoutant's telephone number">
						</div>
						<button type="submit" class="btn btn-danger m-b-3 pull-left">Save Accountant</button>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
						<div class="form-group">
							<label for="company_name">Company Name *</label>
							<input type="text" id="company_name" ng-model="cvm.accountant.company.company_name" class="form-control" placeholder="company name">
						</div>
						<div class="form-group">
							<label for="company_address">Address *</label>
							<input type="text" id="company_address" ng-model="cvm.accountant.company.address" class="form-control" placeholder="accoutant's company address">
						</div>
						<div class="form-group">
							<label for="company_email">Email </label>
							<input type="text" id="company_email" ng-model="cvm.accountant.company.company_email" class="form-control" placeholder="accoutant's email">
						</div>
						<div class="form-group m-b-3">
							<label for="company_website">Website </label>
							<input type="text" id="company_website" ng-model="cvm.accountant.company.website" class="form-control" placeholder="accoutant's website">
						</div>
					</div>

					<!-- load accountant -->
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-if="cvm.noAccountant === false">
						<p class="text-center light title">Current Account(s)</p>
						<hr>
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Name</th>
									<th>Company</th>
									<th>Contact</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="accountant in cvm.accountantsList">
									<td>{{accountant.name}}</td>
									<td>{{accountant.company[0].name}}</td>
									<td>{{accountant.mobile}}</td>
									<td><a href="/appcontrol/accountant/{{accountant._id}}" title="assign customers to {{accountant.name}}" class="btn btn-danger">Assign Customer</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="full-page-container wbg">
	
</div>

<!-- site-footer -->
<site-footer></site-footer>
