/*
|----------------------------------------------
| setting up components.
| @author: jahid haque <jahid.haque@yahoo.com>
| @copyright: etaxi, 2017
|----------------------------------------------
*/
.full-page-container{
	position: relative;
	padding: 2.8rem 0;
}
.service-snippet{
	background-color: #77BF91;
}


.certified-accountant{
	position: relative;
	p{
		position: relative;
		top: 50%;
		transform: translateY(350%); 
	}
}
.feature-icon-box{
	position: relative;
	display: block;
	margin: 20px auto;
	i{
		font-size: 69px;
		line-height: 70px;
		color: #dcdbdb;
		&:hover{
			color: #cdcdcd;
		}
	}
}
.site-footer{
	position: relative;
	padding: 2.8rem 0;
	border-top: 1px solid #dcdbdb;
}
.flash-message{
	position: relative;
	padding: 45px 0;
	background-color: transparent;
	border-width: 1px;
	border-style: bottom;
	border-color: transparent;
}

.flash-message-danger{
	border-color: #ebccd1;
	color: #a94442;
	background-color: #f2dede;
	hr{
		border-top: 1px solid #EBB5B5;
	}
}

.plan-box{
	position: relative;
	min-height: 350px;
	a{
		position: absolute;
		bottom: 20px;
		left: 80px;
		width: 200px;
	}
}

.profile-loading-error{
	position: relative;
	padding: 45px 0;
	background-color: #f8f8f8;
}


.setting-list{
	padding-left: 0;
	li{
		display: block;
		list-style: none;
		padding: 0;
		margin: 1px -15px;
		a{
			display: block;
			width: 100%;
			padding: 10px 15px;
			color: #4a4a4a;
			&:hover{
				background-color: #f8f8f8;
				text-decoration: none;
			}
		}
	}
}

.account-type{
	position: absolute;
	right: 19px;
	top: 10px;
}

.created-at{
	position: absolute;
	right: 19px;
	top: 40px;
}

.address-list{
	li{
		display: block;
		width: 100%;
		margin: 2px 0;
		padding: 8px 0;
		span{
			margin-right: 20px;
		}
	}
}


// additional info on profile page.
.additional_info{
	position: relative;
	padding: 45px 0;
	background-color: #F0F2F2;
}

// password reset form.
.password-reset-form{
	padding: 45px 0;	
}

.dashboard-wrapper{
	position: relative;
	min-height: 700px;
}

.datepicker_icon{
	position: relative;
	i{
		position: absolute;
		right: 53%;
		top: 11px;
	}
}

.statementTable{
	tbody{
		tr{
			td{
				padding: 20px 15px;
			}
		}
	}
}

.statement-btn{
	display: inline-block;
	position: relative;
	padding: 8px;
}
.statement-btn-circle{
	width: 30px;
	height: 30px;
	border: 1px solid #2cabe3;
	border-radius: 500px;
	&:hover{
		background-color: #fff;
	}
}

// message
.compose-message{
	position: relative;
	padding: 20px;
	.btn-compose{
		padding: 15px 0;
	}
}

.message-sidebar-list{
	padding: 25px 0 0 0;
	margin-bottom: 0px;

	li{
		list-style: none;
		padding: 15px 0;
		margin: 0px -20px;
		border-bottom: 1px solid #dcdbdb;
		a{
			display: block;
			width: 100%;
			padding: 0px 20px;
			font-size: 16px;
			font-weight: 300;
			color: #4a4a4a;
			&:hover{
				text-decoration: none;
			}
			.head{
				padding: 0px 40px;
			}
		}
		&:last-child{
			border-bottom: 0px;
		}
		&:hover{
			background-color: #eff4f6;
			a{
				color: #000;
				i{
					color: #4a4a4a !important;
				}
			}
		}
	}
}

.message-contact{
	position: relative;
	padding: 20px;
	.contact-badge{
		width: 80px;
		height: 80px;
		img{
			overflow: hidden;
			width: 100%;
			height: 100%;
		}
	}
}

.message-inbox-body{
	position: relative;
	.inbox-load-error{
		img{
			width: 400px;
			height: 400px;
			opacity: 0.6;
		}
	}
}

.message-body{
	position: relative;
	padding: 20px;
}
