/*
|----------------------------------------------
| setting up pages styles for the app
| @author: jahid haque <jahid.haque@yahoo.com>
| @copyright: etaxiaccounting, 2017
|----------------------------------------------
*/
.singup-container{
	position: relative;
	padding: 45px 0;
	background-color: #51B9DB;
}

.service-plan{
	position: relative;
	padding: 45px 0;
	background-color: #fff;
}