/*
|----------------------------------------------
| setting up pages styles for the app
| @author: jahid haque <jahid.haque@yahoo.com>
| @copyright: etaxiaccounting, 2017
|----------------------------------------------
*/
.singup-container{
	position: relative;
	padding: 45px 0;
	background-color: #51B9DB;
}

.service-plan{
	position: relative;
	padding: 45px 0;
	background-color: #fff;
}

.expense-form-list{
    li{
        list-style: none;
        display: block;
        margin: 8px 0;
        label{
            width: 130px;
            margin-right: 10px;
            font-weight: 300;
        }
        input[type='text']{
            width: 150px;
            border-radius: 3px;
            padding: 5px 10px;
            margin: 0px 8px;
            border-color: none;
            color: #4a4a4a;
            font-weight: 300;
            font-size: 18px;
        }
        a{
            width: 120px;
            margin-left: 20px;
        }
    }
}

.expense-summary-list{
    li{
        list-style: none;
        display: block;
        margin: 8px 0;
    }
}

// forgotpassword
.forgotpassword-box{
    position: relative;
    margin: 20px 0;
    .checkuser-form{
        position: relative;
        padding: 40px;
        .form-group{
            width: 50%;
            margin: 0 auto;
        }
    }
    .panel{
        box-shadow: none !important;
        border: none !important;
    }
}

.weekly-incomes {
    padding: 20px 0;
    border-bottom: 1px solid #dcdbdb;
    &:last-child{
        margin-bottom: 20px;
        padding-bottom: 0px;
        border-bottom: 0;
    }
    .weekly-income{
        padding: 20px 0;
    }
}

.weekly-expenses{
    padding: 20px 0;
    &:last-child{
        margin-bottom: 20px;
        padding-bottom: 0px;
        border-bottom: 0;
    }
    .weekly-expense{
        padding: 10px 20px;
        border-bottom: 1px solid #dcdbdb;
        &:last-child{
            border-bottom: 0px;
        }
    }
}

// setting page.
.setting-container{
    position: relative;
    padding: 25px 0;
}
