<!-- navigation -->
<site-nav></site-nav>

<!-- message wrapper -->
<div class="full-page-container wbg">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
				<div class="container-box row">
					<div class="compose-message shadow small-radius">
						<a href="#" title="compose new message" class="btn btn-success light btn-compose no-radius full" ng-click="msgvm.turnComposeOn()">Compose New Message</a>

						<ul class="message-sidebar-list">
							<li>
								<a href="#" ng-click="msgvm.turnInboxOn()">
									<i class="fa fa-inbox color-gray" aria-hidden="true"></i>
									<span class="head">Inbox</span>
									<span class="badge bg-green pull-right">2</span>
								</a>
							</li>
							<li>
								<a href="#" ng-click="msgvm.turnSentOn()">
									<i class="fa fa-paper-plane color-gray" aria-hidden="true"></i>
									<span class="head">Sent items</span>
									<span class="badge bg-blue pull-right">8</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-trash color-gray" aria-hidden="true"></i>
									<span class="head">Trash</span>
									<span class="badge bg-orange pull-right">1</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-tags color-gray" aria-hidden="true"></i>
									<span class="head">Promotional</span>
									<span class="badge bg-red pull-right">10</span>
								</a>
							</li>
						</ul>
					</div>
					
					<div class="message-contact shadow small-radius m-t-3 m-b-3">
						<p class="light">My Contacts</p>
						<hr>
						<div class="contact-badge block-centered m-b-4">
							<img src="img/message/admin.png" alt="admin" class="img-circle">
							<p class="text-center light small-title">Admin</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
				<div class="container-box row">
					<div class="shadow small-radius message-body">
						<!-- to show inbox -->
						<div class="message-inbox-body" ng-if="msgvm.inboxOn === true" ng-init="msgvm.loadInbox()">
							
							<!-- when there is error loading inbox -->
							<div class="inbox-load-error" ng-if='msgvm.inboxLoadError === true'>
								<img src="img/icons/error.png" alt="error" class="block-centered">
								<p class="text-center light">{{msgvm.inboxLoadErrorMessage}}</p>
							</div>
							<!-- when inbox is empty -->
							<div class="alert alert-danger" ng-if="msgvm.emptyInbox === true">
								<p class="text-center light">You Have no message in your inbox</p>
							</div>

							<!-- now display inbox -->
							<table class="table table-hover">
								<tbody>
									<tr ng-repeat="message in msgvm.messages">
										<td>
											<a href="#" title="reply to {{message.subject}}" ng-click="msgvm.viewMessage(message._id)">
												{{message.sender}}
											</a>
										</td>

										<td>
											{{message.subject}}
										</td>
										<td>
											{{message.createdAt | date: 'dd MMM yyyy'}}
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<!-- show sentbox -->
						<div class="message-sentbox-body" ng-if="msgvm.sentboxOn === true" ng-init="msgvm.loadSentBox()">
							<!-- when there is error loading inbox -->
							<div class="inbox-load-error" ng-if='msgvm.sentboxLoadError === true'>
								<img src="img/icons/error.png" alt="error" class="block-centered">
								<p class="text-center light">{{msgvm.sentBoxLoadErrorMessage}}</p>
							</div>
							<!-- when inbox is empty -->
							<div class="alert alert-danger" ng-if="msgvm.emptySentBox === true">
								<p class="text-center light">You Have no message in your inbox</p>
							</div>

							<table class="table table-hover">
								<tbody>
									<tr ng-repeat="sentmessage in msgvm.sentMessages">
										<td>
											<a href="#" title="reply to {{sentmessage.subject}}" ng-click="msgvm.viewMessage(sentmessage._id)">
												{{sentmessage.sender}}
											</a>
										</td>

										<td>
											{{sentmessage.subject}}
										</td>
										<td>
											{{sentmessage.createdAt | date: 'dd MMM yyyy'}}
										</td>
									</tr>
								</tbody>
							</table>

						</div>


						<!-- for composing new message -->
						<div class="compose-message-body" ng-if="msgvm.composeOn === true" ng-init='msgvm.loadContact()'>
							<h1 class="light title">Send new Message</h1>
							<form ng-submit="msgvm.sendMessage()">
								<div class="form-group" ng-if='msgvm.loadAdminContactList === false'>
									<label for="to">To (Receiver)</label>
									<select class="form-control half" id="to" ng-model="msgvm.createMessage.receiver">
                      <option value="" selected>Select message receiver</option>
                      <option value="taxiadmin@taxiaccounting.co.uk">Admin</option>
                      <option value="{{contact.contactEmail}}" ng-repeat="contact in msgvm.contacts">Accountant</option>
                  </select>
								</div>
								
								<!-- admin contact list -->
								<div class="form-group" ng-if='msgvm.loadAdminContactList === true'>									
                  <admin-contacts></admin-contacts>
								</div>

								<div class="form-group">
									<label for="subject">Subject</label>
									<input type="text" id='subject' class="form-control" ng-model="msgvm.createMessage.subject" placeholder="Message subject">
								</div>

								<div class="form-group m-b-2">
									<label for="message">Message</label>
									<textarea col='15' rows='10' class="form-control" 
										placeholder="Your message" ng-model="msgvm.createMessage.message">
									</textarea>
								</div>

								<div class="alert alert-danger" ng-if="msgvm.msgError === true">
									{{msgvm.msgErrorMessage}}
								</div>
								<!-- when sending message successful -->
								<div class="alert alert-success" ng-if="msgvm.msgError === false">
									<p class="no-margin text-center light">Message has been successfully sent</p>
								</div>

								<div class="form-group">
									<button type="submit" class="btn btn-success">
										<i class="fa fa-paper-plane m-r-2" aria-hidden="true"></i>
										Send Message
									</button>

									<a href="#" ng-click="msgvm.turnComposeOff()" class="btn btn-danger pull-right">Cancel</a>
									<div class="clearfix"></div>
								</div>

							</form>
						</div>

						<!-- show single message with reply -->
						<div class="message-view" ng-if="msgvm.singleMessage === true">
							<h1 class="title light m-b-3">View Message</h1>
							<hr>
							<!-- when we have error loading the message -->
							<div class="alert alert-danger" ng-if="msgvm.singleMessageError === true">
								<p class="text-center regular">{{msgvm.singleMessageErrorMessage}}</p>
							</div>

							<!-- when we have no error loading the message -->
							<div ng-if="msgvm.singleMessageError === false">
								<h2 class="sub-title light">
									Message from: {{msgvm.singleMessageData.sender}}
								</h2>
								<hr>
								<h3 class="blue-txt sub-title regular m-b-3">
									Message subject: {{msgvm.singleMessageData.subject}}
								</h3>
								<hr>

								<p class="light title">{{msgvm.singleMessageData.message}}</p>
								
								<div class="single-message-controll">
									<hr>
									<div class="pull-right half">
										<ul class="list pull-right">
											<li><a href="#" ng-click='msgvm.replyMessage()' title="reply to {{msgvm.singleMessageData.subject}}" class="btn btn-primary"><i class="fa fa-reply" aria-hidden="true"></i></a></li>
											<li><a href="#" title="Delete {{msgvm.singleMessageData.subject}}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden='true'></i></a></li>
										</ul>
									</div>
									<div class="clearfix"></div>
									<form ng-submit="msgvm.sendReply()" ng-if="msgvm.replyOn === true">
										<div class="form-group">
											<label for="replyMessage">Reply Message</label>
											<textarea col='10' rows='6' class="form-control" ng-model="msgvm.replyMessage.reply" placeholder='Write your reply'></textarea>
										</div>
										<input type="text" class="hidden" ng-value="msgvm.singleMessageData._id" >
										<input type="text" class="hidden" value="{{msgvm.singleMessageData.sender}}" ng-model="msgvm.replyMessage.sender">
										<input type="text" class="hidden" value="{{msgvm.singleMessageData.receiver}}" ng-model="msgvm.replyMessage.receiver">
										<button type="submit" class="btn btn-primary">
											<i class="fa fa-reply m-r-2" aria-hidden="true"></i>
											Send Reply
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- site-footer -->
<site-footer></site-footer>