<!-- navigation -->
<site-nav></site-nav>

<div class="full-page-container wbg">
	<div class="container">
		<h1 class="hero-big-title regular text-center">GET IN TOUCH WITH US</h1>
		<hr>
		<p class="text-center light sub-title">Send us message, query or anything else</p>
		<form ng-submit="ctvm.sendMessage()">
			<div class="form-group"><label for="name">Name</label><input type="text" class="form-control quater" ng-model="ctvm.message.name" id='name' placeholder="Your name"></div>
			<div class="form-group">
				<label for="email">Email</label><input type="email" ng-model='ctvm.message.email' placeholder="Your email address" class="form-control half" id="email">
			</div>
			<div class="form-group">
				<label for="message">Message</label>
				<textarea class="form-control" placeholder="Your message" id="message" ng-model="ctvm.message.body" col="10" rows='5'></textarea>
			</div>
			<div class="form-group"><button type="submit" class="btn btn-success">SEND MESSAGE</button></div>
		</form>
	</div>
</div>

<!-- site-footer -->
<site-footer></site-footer>
