<!-- navigation -->
<site-nav></site-nav>

<div class="container" ng-if="frp.passResetRequest === true">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="container-box m-t-3">
				<div class="forgotpassword-box">
					<h1 class="text-center title light">Forgot your password? Reset it</h1>
					<hr>
					<div class="panel panel-default">
						<form class="checkuser-form" ng-submit="frp.checkUser()">
							<div class="form-group">
								<input type="text" ng-model="frp.user.email" placeholder="your email address" class="form-control">
							</div>

							<div class="alert alert-danger m-t-3" ng-if="frp.resetPassError === true">
								<p class="text-center medium title no-margin">{{frp.resetPassErrorMsg}}</p>
							</div>

							<div class="alert alert-success" ng-if="frp.resetSuccessLink === true">
								<p class="text-center medium title no-margin">{{frp.resetPassSuccessMsg}}</p>
							</div>

							<div class="text-center" ng-if="frp.loading === true">
								<img src="img/icons/ajax-loader.gif" class="img-responsive center-block" alt="ajax loader">
							</div>

							<div class="form-group">
								<button type="submit" 
									class="btn btn-success m-t-3" ng-disabled="frp.btnDisabled">
									Check me
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- when user visit using password reset link -->
<div class="password-reset-form wbg" ng-if="frp.passResetForm === true" ng-init="frp.validateKey()">
	<div class="container" ng-if="frp.passwordChangeOn === true">
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-lg-offset-2">
			<div class="container-box shadow">
				<h1 class="text-center big-title medium">Create a new password</h1>
				<form ng-submit='frp.updatePassword()'>
					<div class="form-group">
						<label for="firstpassword">New Password</label><input type="text" class="form-control half" id='firstpassword' ng-model="frp.newpasswordinfo.newpassword" placeholder="New Password">
					</div>
					<div class="form-group">
						<label for="repeatpassword">Repeat Password</label><input type="text" class="form-control half" id='repeatpassword' ng-model="frp.newpasswordinfo.repeatpassword" placeholder="Repeat Password">
					</div>

					<div class="alert alert-danger" ng-if="frp.updatePassError === true">
						<p class="text-center no-margin medium">{{frp.updatePassErrorMsg}}</p>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-success">Change Password</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- site-footer -->
<site-footer></site-footer>
