<!-- navigation -->
<site-nav></site-nav>

<div class="container">
	<h1 class="big-title light text-center">Add income to your account</h1>
	<hr>
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="title text-center light">Add income</h2>
					<hr>
					<form ng-submit="invm.addIncome()">
						<div class="form-group"><label for="incomeDate">Income Date</label><input type="text" class="form-control half" ng-model="invm.Income.incomeDate" id="incomeDate"></div>
						<div class="form-group"><label for="incomeAmount">Amount * </label><input type="text" placeholder="£" ng-model='invm.Income.amount' ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" 
							id="incomeAmount" class="form-control half"></div>
						<p class="no-margin sub-title medium">* Payment Option</p>
						<div class="radio">
							<label for="cash"><input type="radio" name="income_options" ng-model="invm.Income.income_source" value="cash" id='cash'> Cash</label>
							<label for="card"><input type="radio" name="income_options" ng-model="invm.Income.income_source" id='card' value="card"> Card</label>
							<label for="account"><input type="radio" name="income_options" ng-model="invm.Income.income_source" id="account" value="account"> Account</label>
						</div>
						<div class="alert alert-danger half" ng-if="invm.incomeError === true">
							<p class="no-margin medium">Error! {{invm.incomeErrorMsg}}</p>
						</div>
						<div class="alert alert-success half" ng-if="invm.incomeSuccess === true">
							<p class="no-margin medium">{{invm.successMgs}}</p>
						</div>
						<button type="submit" class="btn btn-primary">Save Income</button>
					</form>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="title text-center light">Your income summary</h2>
					<hr>
				</div>
				<div class="panel-body" ng-init="invm.showIncome()">
					<h1 class="no-margin text-center big-title medium" ng-if="invm.initialError === true">
						&pound; 0
					</h1>
					<h1 class="text-center big-title medium" ng-if="invm.showTotalIncome === true">
						{{invm.totalIncome | currency: '£'}}
					</h1>
					<a href="#" class="btn btn-success pull-right" title="view all your income statement">View all statements</a>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- site-footer -->
<site-footer></site-footer>
