<div class="hold-transition skin-blue sidebar-mini fixed" id="admin-body">
    <!-- navigation -->
    <admin-nav></admin-nav>
    <!-- sidebar -->
    <admin-sidebar></admin-sidebar>

    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="min-height: 503px;">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1> Add Income </h1>
                <ol class="breadcrumb">
                    <li><a href="javascript:;"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Add Income</li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="service-plan">
                    <div class="container">
                        <h1 class="big-title light text-center">Add income to your account</h1>
                        <hr>
                        <div class="row">
                            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h2 class="title text-center light">Add income</h2>
                                        <hr>
                                        <form ng-submit="invm.addIncome()">
                                            <div class="form-group"><label for="incomeDate">Income Date</label>
                                                <div class='datepicker_icon'>
                                                    <datepicker date-format="dd-MM-yyyy">
                                                        <input type="text" class="form-control half" ng-model="invm.Income.incomeDate" id="incomeDate">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                    </datepicker>
                                                </div>
                                            </div>
                                            <div class="form-group"><label for="incomeAmount">Amount * </label><input type="text" placeholder="£" ng-model='invm.Income.amount' ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" id="incomeAmount" class="form-control half"></div>
                                            <p class="no-margin sub-title medium">* Payment Option</p>
                                            <div class="radio">
                                                <label for="cash"><input type="radio" name="income_options" ng-model="invm.Income.income_source" value="cash" id='cash'> Cash</label>
                                                <label for="card"><input type="radio" name="income_options" ng-model="invm.Income.income_source" id='card' value="card"> Card</label>
                                                <label for="account"><input type="radio" name="income_options" ng-model="invm.Income.income_source" id="account" value="account"> Account</label>
                                            </div>
                                            <div class="alert alert-danger half" ng-if="invm.incomeError === true">
                                                <p class="no-margin medium">Error! {{invm.incomeErrorMsg}}</p>
                                            </div>
                                            <div class="alert alert-success half" ng-if="invm.incomeSuccess === true">
                                                <p class="no-margin medium">{{invm.successMgs}}</p>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Save Income</button>
                                        </form>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h2 class="title text-center light">Your last added income</h2>
                                        <hr>
                                    </div>

                                    <div class="panel-body">
                                        <h1 ng-repeat="income in invm.incomeList track by $index" class="text-center medium">
                                            <span ng-show="$last">{{income.income | currency: '£'}}</span>
                                        </h1>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7" ng-init="invm.showIncome()">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h2 class="title text-center light">Last Week Added Income (Mon - Sun)</h2>
                                        <hr>
                                        <table class="table table-striped">
                                            <tr>
                                                <th>Date</th>
                                                <th>Account Type</th>
                                                <th>Amount</th>
                                            </tr>
                                            <tbody ng-repeat="weeklyincome in invm.weeklyIncome">
                                                <tr ng-repeat="income in weeklyincome">
                                                    <td>
                                                        {{income.incomeDate}}
                                                    </td>

                                                    <td>
                                                        {{income.incomeType}}
                                                    </td>
                                                    <td>
                                                        {{income.income | currency: '£'}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="panel-body wbg">
                                            <h1 class="text-center medium sub-title">
                                                Last week income {{invm.sevendaysIncome | currency: '£'}}
                                            </h1>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h2>Chart for Last One Week Income</h2>
                                        <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-click="onClick"></canvas>
                                    </div>
                                    <div class="panel-heading">
                                        <h2 class="title text-center light">Your income summary</h2>
                                        <hr>
                                    </div>
                                    <div class="panel-body">
                                        <h1 class="no-margin text-center big-title medium" ng-if="invm.initialError === true">
                                            &pound; 0
                                        </h1>
                                        <h1 class="text-center big-title medium" ng-if="invm.showTotalIncome === true">
                                            {{invm.totalIncome | currency: '£'}}
                                        </h1>
                                        <a href="/allincomestatements" class="btn btn-success pull-right" title="view all your income statement">View all statements</a>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- /.content-wrapper -->
        <!-- admin-footer -->
        <div admin-footer></div>
    </div>
</div>