<!-- navigation -->
<site-nav></site-nav>

<div class="dashboard-wrapper" ng-if="dsvm.customerOpr === true">
<div class="flash-message flash-message-gray" ng-if="dsvm.statusCollection[0].profile === false">
	<div class="container">
		<h1 class="text-center light title">You haven't set up your profile yet.</h1>
		<p class="text-center title light">Please complete your profile</p>
		<hr>
		<form ng-submit="dsvm.createProfile()" class="form-horizontal">
			<div class="form-group">
				<label for="first_name" class="light">First name</label>
				<input type="text" ng-model="dsvm.userProfile.first_name" class="form-control half" 
					placeholder="Type your first name" id="first_name">
			</div>

			<div class="form-group">
				<label for="last_name" class="light">Last name</label>
				<input type="text" ng-model ="dsvm.userProfile.last_name" class="form-control half" 
					placeholder="Type your last name" id="last_name">
			</div>
			
			<div class="form-group">
				<label for="house_no" class="light">House No</label>
				<input type="text" ng-model="dsvm.userProfile.house_no" class="form-control quater" 
					placeholder="House no" id="house_no">
			</div>

			<div class="form-group">
				<label for="street_name" class="light">Street name</label>
				<input type="text" ng-model="dsvm.userProfile.street_name" class="form-control quater" 
					placeholder="Street name" id="street_name">
			</div>

			<div class="form-group">
				<label for="city_name" class="light">City</label>
				<input type="text" ng-model="dsvm.userProfile.city_name" class="form-control quater" 
					placeholder="City name" id="city_name">
			</div>

			<div class="form-group">
				<label for="county" class="light">County</label>
				<input type="text" ng-model="dsvm.userProfile.county" class="form-control quater" 
					placeholder="County name" id="county">
			</div>

			<div class="form-group">
				<label for="postcode" class="light">Postcode</label>
				<input type="text" ng-model="dsvm.userProfile.postcode" class="form-control quater" 
					placeholder="Post code" id="postcode">
			</div>

			<div class="form-group" ng-if="dsvm.profileError === true">
				<div class="alert alert-danger half">
					{{dsvm.profileErrorMessage}}
				</div>
			</div>

			<div class="form-group" ng-if="dsvm.profileSuccess === true">
				<div class="alert alert-success half">
					{{dsvm.successMessage}}
				</div>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-success">
					Save <img class="ajax-loader" diabled={{dsvm.btnDisabled}} ng-if="dsvm.showAjaxLoader === true" src="img/icons/loading.gif" alt="ajax loader">
				</button>
			</div>

		</form>
	</div>
</div>

<div class="container">
	<div class="row m-b-3 m-t-3">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="container-box shadow wbg">
				<a href="/businessprofile" title="settings" class="light title">
					<div class="setting-box m-t-2">
						<h2 class="text-center ligth title">
							<i class="fa fa-rocket m-r-1" aria-hidden="true"></i>Set up business profile
						</h2>
					</div>
				</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="container-box shadow wbg">				
				Free Flexi (90 days free account)
				<a href="/serviceplan" title="settings" class="light title">
					<div class="setting-box m-t-2">
						<h2 class="text-center ligth title"><i class="fa fa-paper-plane m-r-1" aria-hidden="true"></i>Set up service plan</h2>
					</div>
				</a>			
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="container-box shadow wbg">
				<a href="/income" title="settings" class="light title">
					<div class="setting-box m-t-2">
						<h2 class="text-center ligth title"><i class="fa fa-money m-r-1" aria-hidden="true"></i> Add income</h2>
					</div>
				</a>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="container-box shadow wbg">
				<a href="/expense" title="settings" class="light title">
					<div class="setting-box m-t-2">
						<h2 class="text-center ligth title"><i class="fa fa-calendar-minus-o m-r-1" aria-hidden="true"></i>Add Exprense</h2>
					</div>
				</a>
			</div>
		</div>
	</div>

	<div class="row m-t-4">				
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="container-box wbg shadow">
				<a href="/financialstatement" title="settings" class="light title">
					<div class="setting-box m-t-2">
						<h2 class="text-center ligth title"><i class="fa fa-list-ol m-r-1" aria-hidden="true"></i>Financial Statement</h2>
					</div>
				</a>
			</div>			
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="container-box shadow wbg">
				<a href="/settings" title="settings" class="light title">
					<div class="setting-box m-t-2">
						<h2 class="text-center ligth title"><i class="fa fa-cogs m-r-1" aria-hidden="true"></i>Settings</h2>
					</div>
				</a>
			</div>
		</div>
	</div>

	<div class="row m-t-4 m-b-4">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="container-box wbg shadow">
				<a href="/docs" title="settings" class="light title">
					<div class="setting-box m-t-2">
						<h2 class="text-center ligth title"><i class="fa fa-file m-r-1" aria-hidden="true"></i>Documents</h2>
					</div>
				</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="container-box wbg shadow">
				<a href="/taxreturn" title="settings" class="light title">			
					<div class="setting-box m-t-2">
						<h2 class="text-center ligth title"><i class="fa fa-money m-r-1" aria-hidden="true"></i>Tax Return</h2>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
</div>

<div class="dashboard-wrapper" ng-if="dsvm.adminOpr === true">
	admin
</div>

<div class="dashboard-wrapper m-t-4" ng-if="dsvm.accountantOpr === true">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
				<div class="container-box shadow wbg" ng-init='dsvm.loadCustomers()'>
					<h1 class="text-center sub-title">Customers List</h1>
					<hr>
					<ul class="list-block no-padding" ng-if='dsvm.loadCustomerError === false'>
						<li ng-repeat="customer in dsvm.assignedCustomers">
							<a class="m-t-1" href='/dashboard?cus={{customer.userId}}' title="Check details">{{customer.name}}</a>
						</li>
					</ul>
					<div class="alert alert-danger" ng-if="dsvm.loadCustomerError === true">
						<p class="text-center no-margin sub-title">{{dsvm.loadCustomerErrorMsg}}</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
				<div class="container-box shadow wbg small-radius" ng-if='dsvm.LoadCustomerProfile === true'>
					<h1 class="text-center sub-title">Information on</h1>
					<p class="text-center m-t-4 title light" ng-if='dsvm.customerInfoLoadError === true'>{{dsvm.customerInfoLoadErrorMsg}}</p>
					<p class="light sub-title">Account Info</p>
					<hr>
					<ul class="list-inline">
						<li><span class="sub-title light">Name: {{dsvm.LoadedCustomer.name}}</span></li>
						<li class="m-l-3"><span class="sub-title light">Account Status: {{dsvm.LoadedCustomer.status}}</span></li>
						<li class="m-l-3"><span class="sub-title light">Email: {{dsvm.LoadedCustomer.email}}</span></li>
						<li class="m-l-3"><span class="sub-title light">Account Created: {{dsvm.LoadedCustomer.created_at | date: 'yyyy, dd MMM'}}</span></li>
					</ul>
					<p class="light sub-title m-t-4">
						Income Statements
						<a href="#" title="load income statement" ng-click="dsvm.loadIncomeStatement(dsvm.LoadedCustomer.email)" class="btn btn-small btn-info m-l-4">Load Income</a>
					</p>
					<hr>
					<p class="text-center light title" ng-if="dsvm.erroLoadingCustomerIncome === true">{{dsvm.erroLoadingCustomerIncomeMsg}}</p>
					<table class="table table-striped" ng-if='dsvm.showCustomerIncome === true'>
						<tr>
							<th>Date</th>
							<th>Account Type</th>
							<th>Amount</th>
						</tr>
						<tbody>
							<tr ng-repeat="income in dsvm.CustomerIncome">
								<td>
									{{income.incomeDate}}
								</td>

								<td>
									{{income.incomeType}}
								</td>
								<td>
									{{income.income | currency: '£'}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- site-footer -->
<site-footer></site-footer>
