<!-- navigation -->
<site-nav></site-nav>

<div class="setting-container" ng-init="stvm.userSetting()">
	<div class="container" ng-if="stvm.initialError === false">
		<!-- for user contact settings -->
		<div class="row">
			<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
				<div class="container-box wbg shadow" ng-if="stvm.contactSettingOn === false">
					<h1 class="text-center title medium">You haven't added your contact details yet</h1>
					<p class="text-center light">Please add your contact details now</p>
					<hr>
					<form ng-submit="stvm.addContact()">
						<div class="form-group">
							<label for="mobile">Mobile *</label>
							<input type="text" class="form-control half" id="mobile" ng-model='stvm.contact.mobile' placeholder="your mobile number">
						</div>
						<div class="form-group">
							<label for="land_line">Land line</label>
							<input type="text" class="form-control half" id="land_line" ng-model='stvm.contact.landline' placeholder="your land line number">
						</div>

						<div class="alert alert-danger" ng-if="stvm.addContactError === true">
							<p class="text-center light">{{stvm.addContactErrorMessage}}</p>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-success">Save Contact Details</button>
						</div>
					</form>
				</div>

				<div class="container-box wbg shadow" ng-if="stvm.contactSettingOn === true" ng-init="stvm.showContactDetails()">
					<h1 class="text-center title medium">Your Contact Details</h1>
					<p class="text-center light">We have Following - </p>
					<hr>
					<h3 class="medium"> Mobile: 
						<span class="text-center light m-l-3">{{stvm.userContactDetails[0].mobile}}</span>
					</h3>
					<h3 class="medium"> Landline: 
						<span class="text-center light m-l-3">{{stvm.userContactDetails[0].landLine}}</span>
					</h3>
					<div class="alert alert-danger" ng-if="stvm.showContactError === true">
						Error! while loading contact information. Contact admin.
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
				<div class="container-box wbg shadow" ng-if="stvm.businessSettingOn === false">
					<h1 class="text-center title medium">You haven't Set up Business proifle yet</h1>
					<p class="text-center light">Please add your business details now</p>
					<hr>
					<form ng-submit="stvm.addBusinessInfoSubmit()">
						<div class="form-group">
							<label for="business_name">Business Name *</label>
							<input type="text" class="form-control half" id="business_name" ng-model='stvm.businessInfo.name' placeholder="your business name">
						</div>
						<div class="form-group">
							<label for="business_type">Business Type *</label>
							<select ng-model="stvm.businessInfo.type" id="business_type" class="form-control half">
								<option value="" selected="selected">Select your business type</option>
								<option value="private hire">Private hire</option>
								<option value="public hire">Public hire</option>
							</select>
						</div>
						<div class="alert alert-danger" ng-if="stvm.business_infAddingError === true">
							<p class="text-center light no-margin">{{stvm.businessInfErMgm}}</p>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-success">Save Business Details</button>
						</div>
					</form>
				</div>
				<div class="container-box wbg shadow" ng-if="stvm.businessSettingOn === true" ng-init="stvm.showBusinessBasic()">
					<h1 class="text-center title medium">Your Business Details</h1>
					<p class="text-center light">We have Following - </p>
					<hr>
					<h3 class="medium"> Business Name: 
						<span class="text-center light m-l-3">{{stvm.businessBasicInfoList[0].name}}</span>
					</h3>
					<h3 class="medium"> Business Type: 
						<span class="text-center light m-l-3">{{stvm.businessBasicInfoList[0].type}}</span>
					</h3>
					<div class="alert alert-danger" ng-if="stvm.businessBasicInfoError === true">
						<p class="text-center light sub-title">{{stvm.businessBasicInfoErrorMsg}}</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row m-t-3">
			<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
				<div class="container-box wbg shadow" ng-if="stvm.vehicleSettingOn === false">
					<h1 class="text-center title medium">You haven't added your vehicle information</h1>
					<p class="text-center light">Please add your vehicle details now</p>
					<hr>
					<form ng-submit="stvm.addVechicleDetails()">
						<div class="form-group">
							<label for="car_type">Car Type *</label>
							<input type="text" class="form-control half" id="car_type" ng-model='stvm.vehicle.type' placeholder="your car type">
						</div>
						<div class="form-group">
							<label for="brand">Brand *</label>
							<select id="brand" class="half form-control" ng-model="stvm.vehicle.brand">
								<option value="" selected="selected">Select Brand</option>
								<option value="bmw">BMW</option>
								<option value="honda">Honda</option>
								<option value="ford">Ford</option>
								<option value="renault">Renault</option>
								<option value="volkswagen">Volkswagen</option>
								<option value="volvo">Volvo</option>
								<option value="Toyota">Toyota</option>
							</select>
						</div>

						<div class="form-group">
							<label for="registration_number">Registration Number *</label>
							<input type="text" class="form-control half" id="registration_number" ng-model='stvm.vehicle.registration' placeholder="your registration number">
						</div>

						<div class="form-group">
							<label for="car_value">Car value *</label>
							<input type="text" class="form-control half" id="car_value" 
							ng-model='stvm.vehicle.car_value' placeholder="your car value">
						</div>

						<div class="form-group">
							<label for="mot_valid">MOT Valid Till *</label>
							<input type="text" class="form-control half" id="mot_valid" 
							ng-model='stvm.vehicle.mot' placeholder="your mot valid till">
						</div>

						<div class="form-group">
							<label for="road_tax">Road Tax *</label>
							<input type="text" class="form-control half" id="road_tax" 
							ng-model='stvm.vehicle.roadtax' placeholder="your road tax amount">
						</div>

						<div class="form-group">
							<label for="car_status">Car Status *</label>
							<select id="car_status" class="half form-control" ng-model="stvm.vehicle.car_status">
								<option value="" selected="selected">Select Car Status</option>
								<option value="own">Own</option>
								<option value="rented">Rented</option>
								<option value="finance">Finance</option>
							</select>
						</div>

						<div class="alert alert-danger" ng-if="stvm.vehicleError === true">
							<p class="text-center title light no-margin">Error! {{stvm.vehicleErrorMsg}}</p>
						</div>

						<div class="form-group">
							<button type="submit" class="btn btn-success">Save Vehicle Details</button>
						</div>
					</form>
				</div>

				<div class="container-box wbg shadow" ng-if="stvm.vehicleSettingOn === true" ng-init="stvm.getVehicle()">
					<div class="alert alert-danger" ng-if="stvm.showVehicleError=== true">
						{{stvm.showVehicleErrorMgm}}
					</div>
					<h1 class="text-center title medium">Your vehicle information</h1>
					<hr>
					<p class="medium sub-title">Car Type: <span class="m-l-2">{{stvm.vehicleList[0].car_type}}</span></p>
					<p class="medium sub-title">Car Value: <span class="m-l-2">{{stvm.vehicleList[0].car_value | currency: '£'}}</span></p>
					<p class="medium sub-title">Car Brand: <span class="m-l-2">{{stvm.vehicleList[0].brand}}</span></p>
					<p class="medium sub-title">Car Status: <span class="m-l-2">{{stvm.vehicleList[0].car_status}}</span></p>
					<p class="medium sub-title">Car MOT: <span class="m-l-2">{{stvm.vehicleList[0].mot | date: 'yyyy-MM-dd'}}</span></p>
					<p class="medium sub-title">Road Tax: <span class="m-l-2">{{stvm.vehicleList[0].road_tax | date: 'yyyy-MM-dd'}}</span></p>
					
				</div>
			</div>

			<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
				<div class="container-box shadow wbg" ng-if="stvm.insuranceSettingOn === false">
					<h1 class="text-center title medium">We don't have your insurance information</h1>
					<p class="text-center light">Please add your insurance details - </p>
					<form ng-submit="stvm.addInsurance()">
						<div class="form-group"><label for="insurance_provider">Insurance Provider *</label><input type="text" class="form-control half" id='insurance_provider' ng-model="stvm.insurance.name" placeholder="Add insurance provider name"></div>

						<div class="form-group"><label for="valid_till">Valid Till *</label><input type="text" class="form-control half" id='valid_till' ng-model="stvm.insurance.valid_date" placeholder="valid till"></div>

						<div class="form-group"><label for="insurance_number">Insurance Number</label><input type="text" class="form-control half" id='insurance_number' ng-model="stvm.insurance.number" placeholder="insurance number if you have"></div>

						<div class="alert alert-danger" ng-if="stvm.addInsuranceErr === true">
							<p class="text-center sub-title no-margin medium">{{stvm.insuranceErrMgs}}</p>
						</div>
						<div class="form-group"><button type="submit" class="btn btn-success m-b-2">Add Insurance Details</button></div>
					</form>
				</div>

				<!-- to show insurance infor -->
				<div class="container-box shadow wbg" ng-if="stvm.insuranceSettingOn === true" ng-init='stvm.showInsurance()'> 
					<h1 class="text-center title medium">Your Insurance Details</h1>
					<hr>
					<div class="alert alert-danger" ng-if="stvm.showInsuraceError === true">
						<p class="text-center sub-title"><span class="medium">Error!!</span> {{stvm.showInsuraceErrorMsg}}</p>
					</div>

					<p class="medium sub-title">Insurance Company: <span class="m-l-2">{{stvm.insuraceList[0].provider_name}}</span></p>
					<p class="medium sub-title">Insurance Valid till: <span class="m-l-2">{{stvm.insuraceList[0].valid_till | date: 'yyyy-MM--dd'}}</span></p>
					<p class="medium sub-title">Insuracen Number: <span class="m-l-2">{{stvm.insuraceList[0].insurance_number}}</span></p>
				</div>
			</div>
		</div>
	</div>

	<div class="container" ng-if="stvm.initialError === true">
		<h1 class="text-center big-title medium">
			Error! while loading initial settins. Please contact admin.
		</h1>
		<hr>
	</div>
</div>

<!-- site-footer -->
<site-footer></site-footer>
