<!-- load accountant contacts -->
<select class="form-control half" id="to" ng-model="msgvm.createMessage.receiver" ng-init='adcon.loadAdminContacts()' ng-if='adcon.loadCustomerContact === true'>
    <option value="" selected>Select message receiver</option>
    <option value="taxiadmin@taxiaccounting.co.uk">Admin</option>
    <option ng-repeat="customer in adcon.customers" value="{{customer.email}}">{{customer.email}} (Cus)</option>
</select>

<!-- load admin contacts -->
<select class="form-control half" id="to" ng-model="msgvm.createMessage.receiver" ng-init='adcon.loadAdminContacts()' ng-if='adcon.loadAllContact === true'>
    <option value="" selected>Select message receiver</option>
    <option ng-repeat="acc in adcon.accountants" value="{{acc.email}}">{{acc.email}} (Act)</option>
    <option ng-repeat="customer in adcon.customers" value="{{customer.email}}">{{customer.email}} (Cus)</option>
</select>