
<!--=== Header ===-->
            <div class="header">
                <div class="container">
                    <!-- Logo -->
                    <a class="logo" href="/">
                        <img src="assets/img/logo1-default.png" alt="Logo">
                    </a>
                    <!-- End Logo -->

                    <!-- Topbar -->
                    <div class="topbar">
                        <ul class="loginbar pull-right">
                            <li ng-if="nvm.loggedIn === false"><a href="/signup">Sign up</a></li>
                            <li class="topbar-devider" ng-if="nvm.loggedIn === false"></li>
                            <li ng-show="nvm.loggedIn === false"><a href="/signin">Sign in</a></li>
                            <li ng-if="nvm.forLoggedInUser === true"><a href="/messages"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                            <li class="topbar-devider" ng-if="nvm.forLoggedInUser === true"></li>
                            <li ng-if="nvm.forLoggedInUser === true"><a href="/profile"><i class="fa fa-user-circle" aria-hidden="true"></i> {{nvm.name}}</a></li>
                            <li class="topbar-devider" ng-if="nvm.forLoggedInUser === true"></li>
                            <li ng-if="nvm.forLoggedInUser === true"><a href="/docs">Docs <i class="fa fa-file" aria-hidden="true"></i></a></li>
                            <li class="topbar-devider" ng-if="nvm.forLoggedInUser === true"></li>
                            <li><a ng-if="nvm.forLoggedInUser === true" href="/dashboard"><i class="fa fa-tachometer m-r-1" aria-hidden="true"></i>Dashboard </a></li>
                            <li class="topbar-devider" ng-if="nvm.forLoggedInUser === true"></li>
                            <li ng-if="nvm.loggedIn !== false"><a ng-click="nvm.logout()" href="#">Logout<i class="fa fa-sign-out m-r-1 m-l-1" aria-hidden="true"></i></a></li>

                        </ul>
                    </div>
                    <!-- End Topbar -->

                    <!-- Toggle get grouped for better mobile display -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
                    <!-- End Toggle -->
                </div><!--/end container-->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="/">
                                    Home
                                </a>
                            </li>

                            <li>
                                <a href="/services">
                                    Services
                                </a>
                            </li>

                            <li>
                                <a href="/price">
                                    Price
                                </a>
                            </li>

                            <li>
                                <a href="/aboutus">
                                    About Us
                                </a>
                            </li>

                            <li>
                                <a href="/contactus">
                                    Contact Us
                                </a>
                            </li>
                        </ul>
                    </div><!--/end container-->
                </div><!--/navbar-collapse-->
            </div>
            <!--=== End Header ===-->
