<!-- navigation -->
<site-nav></site-nav>

<div class="container">
	<div class="row m-t-2">
     <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">         
         <div class="panel panel-primary">
             <div class="panel-heading">
                 <h1 class="sub-title light">Add Your Expense</h1>
                 <hr>
                    <form ng-submit = "exvm.addExpense()">
                        <div class="form-group">
                            <label for="startDate">Start Date</label>
                            <input type="text" class="form-control half" id="startDate" placeholder="start date" ng-model='exvm.expense.startDate'>
                        </div>

                        <div class="form-group">
                            <label for="endDate">End Date</label>
                            <input type="text" class="form-control half" id="endDate" placeholder="end date" ng-model='exvm.expense.endDate'>
                        </div>

                        <div class="form-group">
                            <label for="expense_area">Expense Sector</label>
                            <select class="form-control half" name="expense_sector" id="expense_area" 
                                ng-model="exvm.expense.expense_sector">
                                <option value="" selected>Select expense area</option>
                                <option value="fuel">Fuel</option>
                                <option value="car_wash">Car wash</option>
                                <option value="car_service">Car Service</option>
                                <option value="mot">Mot</option>
                                <option value="car_repair">Car repair</option>
                                <option value="insurance">Insurance</option>
                                <option value="data_cost">Data cost</option>
                                <option value="road_tax">Road tax</option>
                                <option value="car_finance">Car finance</option>
                                <option value="car_rent">Car rent</option>
                                <option value="other">Other</option>
                            </select>
                        </div>

                        <div class="form-group"><label for="expense_amount">Amount</label><input type="text" class="form-control half" id="expense_amount" ng-model="exvm.expense.amount" placeholder="&pound;"></div>
                    
                     <div class="alert alert-danger" ng-if="exvm.expenseError === true">
                         {{exvm.errorMessage}}
                     </div>
                     <div class="alert alert-success" ng-if="exvm.expenseSuccess === true">
                         {{exvm.expenseSuccessMessage}}
                     </div>
                     <button type="submit" class="btn btn-success">Save Epenses</button>
                     </form>
                 
             </div>
         </div>         
     </div>
     <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-init="exvm.loadExpenseSummary()">         
         <div class="panel panel-primary">
             <div class="panel-heading" ng-if="exvm.expenseSummarySuccess === true">
                 <h2 class="title light">Your Expense Summary</h2>
                 <hr>
                 <h3 class="sub-title text-center light">Your total expenses so far <span class="medium">{{exvm.totalExpense | currency: '£'}}</span></h3>

                 <a href="#" class="btn btn-success pull-right" title="view all your expense">View All expenses</a>
                 <div class="clearfix"></div>
             </div>

             <div class="panel-heading" ng-if="exvm.expenseSummaryError === true">
                 Error while loading your expense summary. Please contact admin
             </div>
         </div>         
     </div>
    </div>
</div>

<!-- site-footer -->
<site-footer></site-footer>
